#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure --buildsystem=cmake -- \
		-G Ninja \
		-DCMAKE_BUILD_TYPE=Release \
		-DSECP256K1_BUILD_TESTS=ON \
		-DSECP256K1_BUILD_BENCH=OFF \
		-DSECP256K1_BUILD_EXAMPLES=OFF \
		-DSECP256K1_BUILD_SHARED=ON \
		-DSECP256K1_INSTALL=ON \
		-DSECP256K1_INSTALL_PKGCONFIG=ON \
		-DSECP256K1_USE_ASM=ON

override_dh_auto_test:
	dh_auto_test --no-parallel
